Source: fortunes-murphy
Section: games
Priority: optional
Maintainer: Alex 'AdUser' Z <ad_user@lavabit.com>
Build-Depends: debhelper (>= 8.0.0), fortune-mod
Standards-Version: 3.9.3

Package: fortunes-murphy
Architecture: all
Depends: fortune-mod
Description: This is a collection of more than 1250 Murphy's (& Al) laws
